<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    6965 Tower Rd SW<br />
    Cedar Rapids, IA 52404<br />    
</address>

<address>
    <strong>GitHub: </strong><a href="https://github.com/tlickteig">https://github.com/tlickteig</a><br />    
</address>