<style>
    #title {
        margin-bottom: 1em;
    }

    .jumbotron {
        transition: all .5s;
    }

    .jumbotron h2 {
        margin-top: -4em;
        margin-left: 1em;
        color: black;
    }

    .jumbotron p {
        margin-left: 1em;
        color: black;
    }

    .jumbotron img {
        height: 15em;
    }

    .jumbotron:hover {
        background-color: lightgray;        
    }
</style>

<h1 id="title">@ViewBag.Title</h1>

<a href="~/Employee/Index">
    <div class="jumbotron">
        <table>
            <tr>
                <td>
                    <img src="~/Images/employees.jpg" />
                </td>
                <td>                    
                    <h2>Employees</h2>
                    <p>Click here for employee administration</p>
                </td>
            </tr>
        </table>
    </div>
</a>

<a href="~/Car/Index">
    <div class="jumbotron">
        <table>
            <tr>
                <td>
                    <img src="~/Images/car.jpg" />
                </td>
                <td>
                    <h2>Cars</h2>
                    <p>Click here to visit the cars section</p>
                </td>
            </tr>
        </table>
    </div>
</a>

<a href="~/Sale/Index">
    <div class="jumbotron">
        <table>
            <tr>
                <td>
                    <img src="~/Images/sales.jpg" />
                </td>
                <td>
                    <h2>Sales</h2>
                    <p>Click here for sales</p>
                </td>
            </tr>
        </table>
    </div>
</a>

<a href="~/Repair/Index">
    <div class="jumbotron">
        <table>
            <tr>
                <td>
                    <img src="~/Images/repair.jpg" />
                </td>
                <td>
                    <h2>Repairs</h2>
                    <p>Click here for repair information</p>
                </td>
            </tr>
        </table>
    </div>
</a>

<a href="~/Billing/Index">
    <div class="jumbotron">
        <table>
            <tr>
                <td>
                    <img src="~/Images/billing.jpg" />
                </td>
                <td>
                    <h2>Billing</h2>
                    <p>Click here for billing information</p>
                </td>
            </tr>
        </table>
    </div>
</a>